@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gudea&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: Bangers, sans-serif;
    font-size: 100px;
    text-align: center;
    padding: 30px;
}

body {
    font-family: Gudea, sans-serif;
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    background: url(../images/background-image.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    padding: 5px;
}

.rules {
    font-size: 16px;
    font-style: italic;
}

.weapons-wrapper {
    padding: 30px;
}

.weapon-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.score-area {
    padding: 35px;
}

span {
    padding: 10px;
}

.score-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Media queries*/

@media screen and (max-width: 850px) {
    h1 {
        font-size: 50px;
    }

    .weapon-img {
        height: 120px;
    }
}

@media screen and (max-width: 475px) {

    h1 {
        font-size: 40px;
    }

    body {
        font-size: 15px;
    }
    
    .weapons-wrapper {
        padding: 10px;
    }

    .weapon-img {
        height: 100px;
    }
}

